<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genComment" value="false" />
        <option name="generatedClassPathList">
          <list>
            <option value="F:\DataVananda\Simaudi\Koding\Service\SimaudiAPI\src\main\java\id\go\customs\simaudiapi\model" />
          </list>
        </option>
        <option name="javaMapperPackage" value="id.go.customs.simaudiapi.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="id.go.customs.simaudiapi.model" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="SimaudiApi" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="SimaudiApi">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="id.go.customs.simaudiapi.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="id.go.customs.simaudiapi.model" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="id.go.customs.simaudiapi.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="audit:td_usulan_detail">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="TdUsulanDetail" />
                  <option name="moduleName" value="SimaudiApi" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="audit:td_usulan_header">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="TdUsulanHeader" />
                  <option name="moduleName" value="SimaudiApi" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useExample" value="true" />
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="id.go.customs.simaudiapi.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>